* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  border: 10px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* #patternImage {
  transform: translate(-35px, 10px);
  border: solid red 1px;
  position: absolute;
  left: 0%;
  top: 0%;
  display: none;
} */

.broken-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#broken {
  font-size: 100px;
  height: fit-content;
  width: fit-content;
  text-align: center;
  font-weight: 700;
}
